<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tuna User Register Form</title>
    <link rel="stylesheet" href="styles/signup.css">
  </head>
  <body>
    <form class="signup-form" action="/register" method="post">

      <!-- form header -->
      <div class="form-header">
        <h1>Create Account</h1>
      </div>

      <!-- form body -->
      <div class="form-body">
        <!-- User Name-->
        <div class="form-group">
          <label for="username" class="label-title">UserName*</label>
          <input type="username" name="username" id="username" class="form-input" placeholder="enter your username" required="required">
        </div>

        <!-- Firstname and Lastname -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label for="firstname" class="label-title">First name *</label>
            <input type="text" name="firstname" id="firstname" class="form-input" placeholder="enter your first name" required="required" />
          </div>
          <div class="form-group right">
            <label for="lastname" class="label-title">Last name</label>
            <input type="text" name="lastname" id="lastname" class="form-input" placeholder="enter your last name" />
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email" class="label-title">Email*</label>
          <input type="email" name="email" id="email" class="form-input" placeholder="enter your email" required="required">
        </div>

        <!-- Passwrod and confirm password -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label for="password" class="label-title">Password *</label>
            <input type="password" name="password" id="password" class="form-input" placeholder="enter your password" required="required">
          </div>
          <div class="form-group right">
            <label for="confirm-password" class="label-title">Confirm Password *</label>
            <input type="password" class="form-input" name="confirm-password" id="confirm-password" placeholder="enter your password again" required="required">
          </div>
        </div>

      
      <!-- form-footer -->
      <div class="form-footer">
        <span>* required</span>
        <button type="submit" class="btn">Create</button>
      </div>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </form>

  </body>
</html>